<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo de v-for com componentes</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="src/ComponentsComVfor.js" defer></script>
    
</head>
<body>
    <!--
      Componentes com v-for usando listas.
    -->
    <div id="todo=list-example" class="demo">
       <form v-on:submit.prevent="addNewTodo">
         <label for="new-todo">Adicionar tarefa:</label>
         <input
           v-model="newTodoText"
           id="new-todo"
           placeholder="Ex.: Alimentar o gato"
           />
           <button>Adicionar</button>
       </form>
       <ul>
         <todo-item
          v-for="(todo, index) in todos"
          v-bind:key="todo.id"
          v-bind:title="todo.title"
          v-on:remove="todos.splice(index, 1)" 
         ></todo-item>
       </ul>
    </div>
</body>
</html>